@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}
header > p{
    padding-bottom: 50px;
    font-size: 2vh;
}
header a, footer a{
    color: white;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(53, 52, 52);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.45);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url('../d012/imagens/background001.jpg');
    background-position: right center;
}
section#img02{
    background-image: url('../d012/imagens/background002.jpg');
    background-position: right center;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

    p{
        font-size: 1.3vh;
    }
}
